  
.body {
        color: rgb(124, 107, 140); 
    }
.h1 {
        position: absolute;
        margin-left: 50%;
        font-size: 100px;
        font-family: 'Times New Roman', Times, serif;
        color: bisque;
    }
.p {
    text-decoration: dashed;
    }
